#proba {
  border: 1px solid black;
}
.klasa {
  border: 1px solid black;
}
#formattedInput {
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 50px;
  font-family: Arial, sans-serif;
  /* Add more styles as needed */
}

#horizontalLine {
  position: fixed;
  top: 440px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: black;
  z-index: 999; /* Optional: Specify a z-index if needed */
}
